
{% extends "BenDoctorsBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body %}
<h3><span class="glyphicon glyphicon-user"></span> Mise à jour d'un Antecedent medicale</h3>

<form action="{{ path('antecedent_update', { 'id': entity.id }) }}"  class="form-horizontal col-md-8" method="post">
    <div class="form-group ">
        <label class="col-md-6 control-label" for="user">Etudiant</label>
        <div class="col-md-6">
            <input id="user" class="form-control disabled" disabled="disabled" type="text" name="unused" value="{{ entity.person.fullName }}">
        </div>
    </div>
    {% include "BenDoctorsBundle:Antecedent:form.html.twig" %}

    <div class="form-group">
      <div class="col-sm-offset-6 col-sm-6">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Mettre à jour</button>
        <a href="#" id="js-delete" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Supprimer</a>
      </div>
    </div>
</form>
<form id="deleteForm" action="{{ path('antecedent_delete', { 'id': entity.id }) }}" method="DELETE" class="">
    {{ form_widget(delete_form) }}
</form>

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script> 
    (function($) {
    	$('#ben_antecedent_person').closest('.form-group').hide();
        $('#js-delete').on('click', function(){
            $('#deleteForm').submit();
            return false;
        });
        $('select').removeClass('form-control').select2({minimumResultsForSearch: -1});
    })(jQuery);
</script>
{% endblock %}