<form class="form-horizontal" method="POST" action="{{ path('fos_user_change_password') }}" {{ form_enctype(passwordform) }} >
    <fieldset>
        <legend><span class="glyphicon glyphicon-lock"></span> Changer votre mot de passe</legend>

        {{ form_row(passwordform.current_password, { 'label': 'Mot de passe actuel'}) }}
        {{ form_row(passwordform.new.first, { 'label': 'Nouveau mot de passe'}) }}
        {{ form_row(passwordform.new.second, { 'label': 'Confirmer votre mot de passe'}) }}

        {{ form_rest(passwordform) }}

    <div class="form-group">
        <div class="col-md-offset-6 col-md-6">
            <button type="submit" name="subvalider" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Mettre à jour</button>
        </div>
    </div>
    </fieldset>
</form>

           