{% extends "BenUserBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body %}

<h3><span class="glyphicon glyphicon-user"></span> Gestion des médecins</h3>
        <form  id="jsForm" role="form" method="post" action="">
          <input id="pagenumber" type="hidden" name="searchParam[page]" value="1"> 
            <div class="row hide-print">
              <div class="col-md-5 form-group">
                <div class="input-group">
                  <input type="text" name="searchParam[keyword]" class="form-control" placeholder="Search">
                  <div class="input-group-btn">
                  <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </div><!-- /btn-group -->
                </div><!-- /input-group -->
              </div><!-- /.col-md-6 -->

              <div class="col-md-2">
                <div class="col-md-9">
                <select id="js-perpage" name="searchParam[perPage]" class="form-control">
                  <option value="10" {% if app_config.rows_per_page == 10 %}selected{% endif %}>10</option>
                  <option value="20" {% if app_config.rows_per_page == 20 %}selected{% endif %}>20</option>
                  <option value="50" {% if app_config.rows_per_page == 50 %}selected{% endif %}>50</option>
                  <option value="100" {% if app_config.rows_per_page == 100 %}selected{% endif %}>100</option>
                </select>
                </div>
              </div>

              <div class="col-lg-5">
                <div class="btn-group pull-right">              
                  <button class="btn btn-primary "><span class="glyphicon glyphicon-cog"></span>  Selectioner une action</button>
                  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                  <ul class="dropdown-menu dropdown-inverse">
                      <li><a href="{{ path('ben_new_user') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter un utilisateur</a></li>
                      <li><a href="#" class="js-enable" data-action="1"><span class="glyphicon glyphicon-ok-circle"></span> Activer</a></li>
                      <li><a href="#" class="js-enable" data-action="0"><span class="glyphicon glyphicon-ban-circle"></span> Désctiver</a></li>
                      <li><a href="#" class="js-promote" data-action="USER"><span class="glyphicon glyphicon-user"></span> Promote to user</a></li>
                      <li><a href="#" class="js-promote" data-action="MANAGER"><span class="glyphicon glyphicon-user"></span> Promote to manager</a></li>
                      <li><a href="#" class="js-promote" data-action="ADMIN"><span class="glyphicon glyphicon-user"></span> Promote to Admin</a></li>
                      <li class="divider"></li>
                      <li><a href="{{ path('ben_users_export') }}"><span class="glyphicon glyphicon-export"></span> Exporter vers csv</a></li>
                      <li><a id="btnPrint"><span class="glyphicon glyphicon-print"></span> imprimer</a></li>
                      <li><a href="#" id="js-delete"><span class="glyphicon glyphicon-trash"></span> Supprimer</a></li>
                  </ul>
                </div>
              </div><!-- /.col-lg-2 -->
            </div><!-- /.row -->

            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th><input id="checkall" type="checkbox" value=""></th>
                        <th class="col-md-2">Identifiant</th>
                        <th>Nom et prénom</th>
                        <th>Email</th>
                        <th>Tél</th>
                        <th>Statut</th>
                        <th class="hide-print">action</th>
                    </tr>
                </thead>
                <tbody id="dataContainer"></tbody>
            </table>
            <div>
              <em><strong>Total:</strong> {{ entitiesLength }} utilisateur</em>
            </div>
        </form>
   
<div class="clearfix"></div> 
{% endblock body %}

 {% block javascripts %}
{{ parent() }}
<script> 
    (function($) {

      /* helper functions */
      function getUrl(id){
        var url = '{{ path('ben_show_user', {'id': 1111 }) }}';
        return url.replace("1111", id);
      }
      function updateLink (link) {
        moreBtn.attr('href', link);
      }
      function getCheckedRows () {
        var users = [];
        dataContainer.find('input:checkbox:checked').each(function() {
          users.push($(this).val());
        });
        return users.join(',');
      }
      function init(){
        pageInput.val('1');
        checkboxBtn.prop("checked",false);
        jsFormUrl = '{{ path('ben_users_ajax') }}';
      }
      function ajaxPost(action) {
        container.addClass('working');
        $.ajax({ 
          type: "POST", 
          data: form.serialize(),
          url: jsFormUrl, 
          success: function(data){ 
            container.removeClass('working');
            init();
            if(!action){
              dataContainer.empty().hide().html(data).fadeIn();
            }else ajaxPost();
          },
          error:function(){
              alert('service denied');
              container.removeClass('working');
          }
        });
        return false;
      }

      /* ajax dashboard*/
      var container= $('.container'),
          form = $('#jsForm'),
          dataContainer = form.find('#dataContainer');
          enableBtn = form.find('.js-enable'),
          promoteBtn = form.find('.js-promote'),
          deleteBtn = form.find('#js-delete'),
          pageInput = form.find('#pagenumber'),
          perPageBtn = form.find('#js-perpage'),
          jsFormUrl = '',
          checkboxBtn = form.find("input:checkbox");

      /* pagination */    
      form.on('click', '.js-page', function(){
          pageInput.val($(this).data('page'));
          ajaxPost();
      });

      /* number of rows per page */
      perPageBtn.on('change', ajaxPost);

      /* enable or disable a user*/
      enableBtn.on('click', function(){
        var url = '{{ path('ben_enable_users', {'etat': 1111 }) }}',
            etat = $(this).data('action');
        jsFormUrl = url.replace("1111", etat);
        ajaxPost('enable');
      });

      /* promote a user */
      promoteBtn.on('click', function(){
        var url='{{ path('ben_promote_users', {'role': 1111 }) }}',
            etat = $(this).data('action');
        jsFormUrl = url.replace("1111", etat);
        ajaxPost('promote');
      });

      /* delete a user */
      deleteBtn.on('click', function(){
        if(!confirmation()) return false;
        jsFormUrl = '{{ path('ben_remove_users') }}';
        ajaxPost('delete');
      });
      form.on('submit', ajaxPost);

      /* submit the form after loading the page*/
      init();
      setTimeout(ajaxPost, 1);

      /* dropdown sub menu */
      $('.dropdown-submenu').hover(function() {
        $(this).find('.dropdown-menu').toggleClass('open');
      });

    })(jQuery);
</script>
{% endblock %}
