{% extends "BenDoctorsBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body -%}
<h3>Examen médical</h3>
<div class="row">
    <div class="col-md-10">    
        <table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Patient</th>
                <td><a href="{{ path('person_show', { 'id': entity.consultation.person.id }) }}">{{ entity.consultation.person.fullname }}</a></td>
            </tr>
            <tr>
                <th>Medecin</th>
                <td>{{ entity.consultation.user.fullname }}</td>
            </tr>
            {% if entity.isGeneral %}
            <tr>
                <th>Taille</th>
                <td>{{ entity.taille }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ entity.poids }}</td>
            </tr>
            <tr>
                <th>TA</th>
                <td>{{ entity.ta }}</td>
            </tr>
            <tr><th colspan="2">Acuité visuelle</th></tr>
            <tr>
                <th>OD</th>
                <td>{{ entity.od }}</td>
            </tr>
            <tr>
                <th>OG</th>
                <td>{{ entity.og }}</td>
            </tr>
            {% else %}
            <tr>
                <th>Demande</th>
                <td>{{ entity.request|nl2br }}</td>
            </tr>
            <tr>
                <th>Resultats</th>
                <td>{{ entity.result|nl2br }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    </div>
    <div class="col-md-2">
        <form id="deleteForm" action="{{ path('test_delete', { 'id': entity.id }) }}" method="POST">
            <a class="btn btn-primary btn-block" href="{{ path('test') }}">Vers la liste</a>
            <a class="btn btn-info btn-block" href="{{ path('test_edit', { 'id': entity.id }) }}">Mettre à jour</a>
            <a class="btn btn-info btn-block" id="btnPrint"><span class="glyphicon glyphicon-print"></span> Imprimer</a>
            <hr>
            <button class="btn btn-danger btn-block" type="submit">Supprimer</button>
            {{ form_widget(delete_form) }}
        </form> 
    </div>
</div>
{% endblock %}
