{% if stats.cnss is defined %}
	<div class="col-md-6">  
	    <div class="box">
		    <header>
		        <h4><span class="glyphicon glyphicon-file"></span> Couverture sociale</h4>
		    </header>
		    <table class="table table-striped table-bordered">
		    <thead>
			    <tr>
			    	<th>Type de couverture</th>
			    	<th>nbre</th>
			    </tr>
		    </thead>
		        {% for item in stats.cnss %}
		        <tr>
		            <td>{{ item.label }}</td>
		            <td>{{ item.data }}</td>
		        </tr>
		        {% endfor %}
		    </table>
	    </div>
	</div>
{% endif %}  
{% if stats.meds is defined %}  
	<div class="col-md-6"> 
	    <div class="box">
		    <header>
		        <h4><span class="glyphicon glyphicon-file"></span> Médicament délivré par le centre</h4>
		    </header>
		    <table class="table table-striped table-bordered">
		    <thead>
			    <tr>
			    	<th>Medicament</th>
			    	<th>nbre</th>
			    </tr>
		    </thead>
		        {% for item in stats.meds %}
		        <tr>
		            <td>{{ item.label }}</td>
		            <td>{{ item.data }}</td>
		        </tr>
		        {% endfor %}
		    </table>
	    </div>
	</div>
{% endif %}  
{% if stats.consultations_structures is defined %}    
	<div class="col-md-6"> 
	    <div class="box">
		    <header>
		        <h4><span class="glyphicon glyphicon-file"></span> Structures sanitaires de référence par structure</h4>
		    </header>
		    <table class="table table-striped table-bordered">
		    <thead>
			    <tr>
			    	<th>spécialité</th>
			    	<th>nbre</th>
			    </tr>
		    </thead>
		        {% for item in stats.consultations_structures %}
		        <tr>
		            <td>{{ item.label }}</td>
		            <td>{{ item.data }}</td>
		        </tr>
		        {% endfor %}
		    </table>
	    </div>
	</div>
{% endif %}  
{% if stats.consultations_visual_issue is defined %}     
	<div class="col-md-6"> 
	    <div class="box">
		    <header>
		        <h4><span class="glyphicon glyphicon-file"></span> Nombre de cas avec des troubles visuels</h4>
		    </header>
		    <table class="table table-striped table-bordered">
		    <thead>
			    <tr>
			    	<th>spécialité</th>
			    	<th>nbre</th>
			    </tr>
		    </thead>
		        {% for item in stats.consultations_visual_issue %}
		        <tr>
		            <td>{{ item.label }}</td>
		            <td>{{ item.data }}</td>
		        </tr>
		        {% endfor %}
		    </table>
	    </div>
	</div>
{% endif %}  
{% if stats.consultations_demande is defined %}     
	<div class="col-md-6"> 
	    <div class="box">
		    <header>
		        <h4><span class="glyphicon glyphicon-file"></span> Nombre de consultations médicales à la demande <span class="badge pull-right">{{ stats.consultations_demande[0].data }}</span></h4>
		    </header>
		</div>
    </div>
{% endif %} 
{% if stats.consultations_demande_gender is defined %}     
    <div class="col-md-6">
	    <div class="box">
		    <header>
		        <h4><span class="glyphicon glyphicon-file"></span> Consultations médicales à la demande par sexe</h4>
		    </header>
		    <table class="table table-striped table-bordered">
		    <thead>
			    <tr>
			    	<th>Sexe</th>
			    	<th>nbre</th>
			    </tr>
		    </thead>
		        {% for item in stats.consultations_demande_gender %}
		        <tr>
		            <td>{{ item.label }}</td>
		            <td>{{ item.data }}</td>
		        </tr>
		        {% endfor %}
		    </table>
	    </div>
	</div>
{% endif %}
{% if stats.consultations_demande_resident is defined %}     
	<div class="col-md-6"> 
	    <div class="box">
		    <header>
		        <h4><span class="glyphicon glyphicon-file"></span> Nombre de consultations médicales à la demande pour les residents <span class="badge pull-right">{{ stats.consultations_demande_resident[0].data }}</span></h4>
		    </header>
		</div>
    </div>
{% endif %} 
{% if stats.consultations_demande_resident_gender is defined %}     
	<div class="col-md-6"> 
	    <div class="box">
		    <header>
		        <h4><span class="glyphicon glyphicon-file"></span> Consultations médicales à la demande pour les residents par sexe</h4>
		    </header>
		    <table class="table table-striped table-bordered">
		    <thead>
			    <tr>
			    	<th>Sexe</th>
			    	<th>nbre</th>
			    </tr>
		    </thead>
		        {% for item in stats.consultations_demande_resident_gender %}
		        <tr>
		            <td>{{ item.label }}</td>
		            <td>{{ item.data }}</td>
		        </tr>
		        {% endfor %}
		    </table>
	    </div>
	</div>
{% endif %}  
{% if stats.consultations_systematique_resident is defined %}     
	<div class="col-md-6"> 
	    <div class="box">
		    <header>
		        <h4><span class="glyphicon glyphicon-file"></span> Nombre  Consultations médicales à la demande pour les residents <span class="badge pull-right">{{ stats.consultations_systematique_resident[0].data }}</span></h4>
		    </header>
		</div>
    </div>
{% endif %} 
{% if stats.consultations_systematique_resident_gender is defined %}     
	<div class="col-md-6"> 
	    <div class="box">
		    <header>
		        <h4><span class="glyphicon glyphicon-file"></span> Examens médical systématique par sexe</h4>
		    </header>
		    <table class="table table-striped table-bordered">
		    <thead>
			    <tr>
			    	<th>Sexe</th>
			    	<th>nbre</th>
			    </tr>
		    </thead>
		        {% for item in stats.consultations_systematique_resident_gender %}
		        <tr>
		            <td>{{ item.label }}</td>
		            <td>{{ item.data }}</td>
		        </tr>
		        {% endfor %}
		    </table>
	    </div>
	</div>
{% endif %}  
{% if stats.consultations_special is defined %}     
	<div class="col-md-6"> 
	    <div class="box">
		    <header>
		        <h4><span class="glyphicon glyphicon-file"></span> Consultations médicale spécialisée par spécialité </h4>
		    </header>
		    <table class="table table-striped table-bordered">
		    <thead>
			    <tr>
			    	<th>spécialité</th>
			    	<th>nbre</th>
			    </tr>
		    </thead>
		        {% for item in stats.consultations_special %}
		        <tr>
		            <td>{{ item.label }}</td>
		            <td>{{ item.data }}</td>
		        </tr>
		        {% endfor %}
		    </table>
	    </div>
	</div>
{% endif %}  
{% if stats.consultations_special_gender is defined %}     
	<div class="col-md-6"> 
	    <div class="box">
		    <header>
		        <h4><span class="glyphicon glyphicon-file"></span> Consultations médicale spécialisée par spécialité et par sexe </h4>
		    </header>
		    <table class="table table-striped table-bordered">
		    <thead>
			    <tr>
			    	<th>spécialité</th>
			    	<th>sexe</th>
			    	<th>nbre</th>
			    </tr>
		    </thead>
		        {% for item in stats.consultations_special_gender %}
		        <tr>
		            <td>{{ item.label }}</td>
		            <td>{{ item.gender }}</td>
		            <td>{{ item.data }}</td>
		        </tr>
		        {% endfor %}
		    </table>
	    </div>
	</div>
{% endif %}  
{% if stats.stock is defined %} 
	<div class="col-md-6"> 
	    <div class="box">
		    <header>
		        <h4><span class="glyphicon glyphicon-file"></span> Nombre de médicament dans le stock <span class="badge pull-right">{{ stats.stock[0].data }}</span></h4>
		    </header>
		</div>
	</div>
{% endif %}  
{% if stats.consultations_not_chronic is defined %}     
	<div class="col-md-6"> 
	    <div class="box">
		    <header>
		        <h4><span class="glyphicon glyphicon-file"></span> Nombre  de cas des maladies dépistées <span class="badge pull-right">{{ stats.consultations_not_chronic[0].data }}</span></h4>
		    </header>
		</div>
	</div>
{% endif %}  
{% if stats.consultations_chronic is defined %}     
	<div class="col-md-6"> 
	    <div class="box">
		    <header>
		        <h4><span class="glyphicon glyphicon-file"></span> Nombre  de cas des maladies chroniques <span class="badge pull-right">{{ stats.consultations_chronic[0].data }}</span></h4>
		    </header>
		</div>
    </div>
{% endif %} 
    <div class="clearfix"></div>