{% extends "BenDoctorsBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
    {% block stylesheet %}
   {{ parent() }}   
        <link href="{{ asset('css/daterangepicker-bs3.css') }}" rel="stylesheet"><!-- Loading my css -->
        <style>
			.links #reportrange, .links .btn {margin-top: 20px; margin-left: 5px;}
			.links .btn{padding: 7px 16px !important;}
        </style>
    {% endblock %}
{% block body -%}

<form action="#" id="js-form">
<div class="row">
	<div class="col-md-6">
		<h3><span class="glyphicon glyphicon-stats"></span> Statistiques</h3>
	</div>
	<div class="col-md-6 links hidden-print">
		<div id="reportrange" class="pull-right">
            <i class="glyphicon glyphicon-calendar"></i>
            <span>August 26, 2014 - August 26, 2014</span> <b class="caret"></b>
        </div>
		<a class="btn btn-primary pull-right" id="btnPrint"><span class="glyphicon glyphicon-print"></span> imprimer</a>
		<a class="btn btn-primary pull-right" data-toggle="modal" data-target="#widgetModal"><span class="glyphicon glyphicon-filter"></span> Filtrer</a>
	</div>
</div>
<!-- Modal advanced widget -->
<div class="modal fade" id="widgetModal" tabindex="-1" role="dialog" aria-labelledby="widgetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="searchModalLabel">Indicateurs clés</h4>
      </div>
      <div class="modal-body">
			<label class="checkbox" for="meds">
				<input type="checkbox" id="meds" name="widgets[meds]" data-toggle="checkbox"> Médicament délivré par le centre
			</label>
			<label class="checkbox" for="stock">
				<input type="checkbox" id="stock" name="widgets[stock]" data-toggle="checkbox"> Nombre de médicament dans le stock
			</label>
			<label class="checkbox" for="cnss">
				<input type="checkbox" id="cnss" name="widgets[cnss]" data-toggle="checkbox"> Effectif des étudiants ayant une couverture sociale par type de couverture
			</label>
			<label class="checkbox" for="consultations_demande">
				<input type="checkbox" id="consultations_demande" name="widgets[consultations_demande]" data-toggle="checkbox"> Nombre des consultations médicales à la demande 
			</label>
			<label class="checkbox" for="consultations_demande_gender">
				<input type="checkbox" id="consultations_demande_gender" name="widgets[consultations_demande_gender]" data-toggle="checkbox"> Nombre des consultations médicales à la demande par sexe
			</label>
			<label class="checkbox" for="consultations_demande_resident">
				<input type="checkbox" id="consultations_demande_resident" name="widgets[consultations_demande_resident]" data-toggle="checkbox"> Nombre des résidents ayant subi une consultation médicale à la demande 
			</label>
			<label class="checkbox" for="consultations_demande_resident_gender">
				<input type="checkbox" id="consultations_demande_resident_gender" name="widgets[consultations_demande_resident_gender]" data-toggle="checkbox"> Nombre des résidents ayant subi une consultation médicale à la demande par sexe 
			</label>
			<label class="checkbox" for="consultations_systematique_resident">
				<input type="checkbox" id="consultations_systematique_resident" name="widgets[consultations_systematique_resident]" data-toggle="checkbox"> Nombre des résidents ayant subi un examen médical systématique 
			</label>
			<label class="checkbox" for="consultations_systematique_resident_gender">
				<input type="checkbox" id="consultations_systematique_resident_gender" name="widgets[consultations_systematique_resident_gender]" data-toggle="checkbox"> Nombre des résidents ayant subi un examen médical systématique 
			</label>
			<label class="checkbox" for="consultations_visual_issue">
				<input type="checkbox" id="consultations_visual_issue" name="widgets[consultations_visual_issue]" data-toggle="checkbox"> Nombre des résidents ayant subi un examen médical systématique 
			</label>
			<label class="checkbox" for="consultations_special">
				<input type="checkbox" id="consultations_special" name="widgets[consultations_special]" data-toggle="checkbox"> Nombre des malades orientés vers la consultation médicale spécialisée par spécialité médicale 
			</label>
			<label class="checkbox" for="consultations_special_gender">
				<input type="checkbox" id="consultations_special_gender" name="widgets[consultations_special_gender]" data-toggle="checkbox"> Nombre des malades ayant subi une consultation médicale spécialisée par spécialité et par sexe 
			</label>
			<label class="checkbox" for="consultations_chronic">
				<input type="checkbox" id="consultations_chronic" name="widgets[consultations_chronic]" data-toggle="checkbox"> Nombre  de cas des maladies chroniques 
			</label>
			<label class="checkbox" for="consultations_not_chronic">
				<input type="checkbox" id="consultations_not_chronic" name="widgets[consultations_not_chronic]" data-toggle="checkbox"> Nombre  de cas des maladies dépistées 
			</label>
			<label class="checkbox" for="consultations_structures">
				<input type="checkbox" id="consultations_structures" name="widgets[consultations_structures]" data-toggle="checkbox"> Nombre  de cas des maladies chroniques 
			</label>
      </div>
      <div class="modal-footer" style="margin:0;">
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </div>
    </div>
  </div>
</div>
</form>
<div class="row" id="datacontainer" style="min-height: 400px;">

</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('js/moment-with-langs.min.js') }}"></script>
    <script src="{{ asset('js/daterangepicker.js') }}"></script>
<script> 
(function($) {
	var widgetsForm = $('#js-form'),
		widgetModal = $('#widgetModal'),
        datacontainer = $('#datacontainer');
    function ajaxPost(date) {
        datacontainer.addClass('working');
		widgetModal.modal('hide');
        if(!date){
        	$('#reportrange span').html(moment().subtract('days', 29).format('D MMMM YYYY') + ' - ' + moment().format('D MMMM YYYY'));
  			date = moment().subtract('days', 29).format('YYYY/MM/DD') + ' - ' + moment().format('YYYY/MM/DD');
  		}
        $.ajax({ 
          url: '{{ path('ben_stats') }}?daterange='+date, 
          type: 'POST', 
          data: widgetsForm.serialize(),
          success: function(data){ 
            datacontainer.removeClass('working');
            datacontainer.empty().hide().html(data).fadeIn();
          }
        });
        return false;
    };

    widgetsForm.on('submit', function() {
    	ajaxPost();
    	return false;
    });
	widgetModal.modal('show');
    
    moment.lang('fr');
	$('#reportrange').daterangepicker(
		{
		   	startDate: moment().subtract('days', 29),
		   	endDate: moment(),
		   	minDate: '01/01/2013',
		   	maxDate: moment().format('DD/MM/YYYY'),
		   	dateLimit: { days: 60 },
		   	showDropdowns: true,
		   	showWeekNumbers: 0,
		   	timePicker: false,
		   	timePickerIncrement: 1,
		   	timePicker12Hour: true,
		   	ranges: {
		   	   'Aujourd\'hui': [moment(), moment()],
		   	   'Hier': [moment().subtract('days', 1), moment().subtract('days', 1)],
		   	   '7 jours précédents': [moment().subtract('days', 6), moment()],
		   	   '30 jours précédents': [moment().subtract('days', 29), moment()],
		   	   'Ce mois': [moment().startOf('month'), moment().endOf('month')],
		   	   'Mois précedent': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
		   	},
		   	opens: 'left',
		   	buttonClasses: ['btn btn-default'],
		   	applyClass: 'btn-small btn-primary',
		   	cancelClass: 'btn-small',
		   	format: 'DD/MM/YYYY',
		   	separator: ' à ',
		   	locale: {
		   		applyLabel: 'OK',
		   		fromLabel: 'Entre',
		   		toLabel: 'et',
		   		customRangeLabel: 'Période personnalisée',
		   		daysOfWeek: "dim_lun_mar_mer_jeu_ven_sam".split("_"),
		   		monthNames: "janvier_février_mars_avril_mai_juin_juillet_août_septembre_octobre_novembre_décembre".split("_"),
		   		firstDay: 0
		   	}
	    },
	    function(start, end) {
		    $('#reportrange span').html(start.format('D MMMM YYYY') + ' - ' + end.format('D MMMM YYYY'));
		    ajaxPost(start.format('YYYY/MM/DD') + ' - ' + end.format('YYYY/MM/DD'));
	    }
	);

  	//Set the initial state of the picker label
  	// ajaxPost();

})(jQuery);
</script>
{% endblock %}

