{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}
Paramètres - {{ parent() }}
{% endblock %}

{% block fos_user_content %}
<div class="col-md-8"><h3></h3>
{% include "FOSUserBundle:ChangePassword:changePassword.html.twig" %}
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
<fieldset>
    <legend><span class="glyphicon glyphicon-envelope"></span> Changer votre adresse email </legend>    
    
        {{ form_row(form.username, { 'label': 'Nom d\'utilisateur'}) }}
        {{ form_row(form.email, { 'label': 'Adresse e-mail'}) }}
        {{ form_row(form.current_password, { 'label': 'Mot de passe actuel'}) }}

        {{ form_rest(form) }}
    <div class="form-group">
        <div class="col-md-offset-6 col-md-6">
            <button type="submit" name="subvalider" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Mettre à jour</button>
        </div>
    </div>
</fieldset>
</form>

</div>

{% endblock fos_user_content %}