{% extends "BenDoctorsBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body %}
<h3><span class="glyphicon glyphicon-tag"></span> {{ entity.isSpecial ? 'Orientation vers une consultation spécialisée' : 'Consultation médicale générale '}}</h3>
<form action="{{ path('consultation_create', { 'type': entity.type }) }}" class="form-horizontal col-md-8" method="post" {{ form_enctype(form) }}>
    <div class="form-group ">
		<label class="col-md-6 control-label" for="user">Etudiant</label>
		<div class="col-md-6">
			<input id="user" class="form-control disabled" disabled="disabled" type="text" name="unused" value="{{ entity.person.fullName }}">
		</div>
	</div>

    {% include "BenDoctorsBundle:Consultation:form.html.twig" %}

    <div class="form-group">
      <div class="col-md-offset-6 col-md-6">
        <button type="button" id="add-another-item" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></button>
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Ajouter</button>
      </div>
    </div>
</form>


{% endblock body %}
{% block javascripts %}
{{ parent() }}
<script> 
    (function($) {
        $('#ben_consultation_person').closest('.form-group').hide();

        var itemCount = '{{ form.consultationmeds|length }}',
            datacontainer = $('#ben_consultation_consultationmeds'),
            prototype = datacontainer.attr('data-prototype'),
            diagnosticInput = $('#ben_consultation_diagnosis');

        datacontainer.find('label').removeClass('col-md-6').addClass('col-md-4');

        $('#add-another-item').on('click', function() {
            newWidget = prototype.replace(/__name__/g, itemCount++);
            item = $(newWidget);
            item.find('label').removeClass('col-md-6').addClass('col-md-4');
            item.appendTo(datacontainer);
            addTagFormDeleteLink(item);
        $('select').removeClass('form-control').select2();

            return false;
        });

        datacontainer.children('.form-group').each(function() {
            addTagFormDeleteLink($(this));
        });

        function addTagFormDeleteLink(tagFormLi) {
            var removeFormA = $('<a class="js-remove" href="#">x</a>');
            tagFormLi.append(removeFormA);
        }

        datacontainer.on('click', '.js-remove', function(e) {
            e.preventDefault();
            $(this).parent().remove();
        });

        $('select').removeClass('form-control').select2();
        diagnosticData = "Grippe_Angines_Bronchite_Caries dentaires_Colopathie_Pharyngites_Déficiences visuelles_Conjonctivites_Dysménorrhée_Acnés_Intoxications Alimentaires_Asthme_Leucorrhées_Phtiriasis_Urétrites_Depression nerveuse_Rhinites_Gastrite_Gâle_Diabète_Hypertension artérielle_Cardiopathies_Hystérie_Otites_Céphalées_Allergies_Traumatismes_Lombalgies_Psoriasis_Stress_Rhinopharyngite_Toxicomanie_Arthralgies_RAA_Dysurie_Tuberculose_Hépatite virale_Migraine_Parasitose_Syphilis_Eczéma_Leshmaniose_Brûlures_Paludisme_Méningites_Typhoide_Appendicite_Herpès buccal_Obésité_Arthroses_Hypotension artérielle_Varicelle_Epilépsie_Anxiété_Blennoragies_Stomatites_Dermatoses_Anémie_Pneumopathie_scoliose_dhysthyroîdie_diarhées infectieuse_dysenterie_courbatures musculaires".split('_');
        diagnosticInput.removeClass('form-control').select2({ tags: diagnosticData });

        var typeInput = $('#ben_consultation_motiftype'),
            motifInput = typeInput.closest('.form-group').next().hide()
        typeInput.on('change', function(){
            html = ($(this)[0].selectedIndex === 1) 
                ? '<select name="ben_consultation[name]" class="form-control"><option value="Certificat d\'aptitude physique">Certificat d\'aptitude physique</option><option value="Certificat de bonne santé">Certificat de bonne santé</option></select>'
                : '<input class="form-control" id="ben_consultation_name" type="text" name="ben_consultation[name]" required="required">';
                
            motifInput.show().find('div').html(html);
        });

        infrastructureData = ["CMSU", "Centre de diagnostic", "Hopital public", "CHU", "structure privée"];
        infrastructureData = $.map(infrastructureData, function(val,index){return {id:val, text:val};});
        $('#ben_consultation_infrastructure').removeClass('form-control').select2({
          createSearchChoice:function(term, data) { if ($(data).filter(function() { return this.text.localeCompare(term)===0; }).length===0) {return {id:term, text:term};} },
          multiple: false,
          data: infrastructureData
        });

    })(jQuery);
</script>
{% endblock %}








